<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div th:replace="~{componentes/nav/sidebar :: sidebar}"></div>
<nav th:replace="~{componentes/nav/nav-dashobard :: navdashboard}"></nav>

</body>
<script src="/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>


</html>