<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalhes do imóvel ' + ${imovel.getNome()}">Detalhes do imóvel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
<nav th:replace="~{componentes/nav/cabecalho :: cabecalho}"></nav>


<div class="container mt-3 mb-3">
    <div th:object="${imovel}" class="row">
        <img

                th:if="${imovel.foto != null}"
                th:src="@{${'/arquivos?nome=' + imovel.foto}}"
                th:class="'card-img' + 'card-img-top'"
                height="300"
                th:alt="${imovel.descricao}"
        />

        <img class="card-img card-img-top" th:unless="${imovel.foto != null}" src="/assets/not-found.jpg"
             height="300" th:alt="${imovel.descricao}">
        <div class="col-md-6">


            <p class="text-md-start text-body-emphasis"
               th:text="'Publicado, '+${#calendars.format(imovel.dataCadastro,'dd MMMM yyyy')}"></p>

            <a th:class="'btn btn-'+${imovel.disponivel ? 'primary': 'danger'}"
               th:utext="${imovel.disponivel? 'Comprar': 'Vendido'}">
                Carregando
            </a>
            <a th:href="@{/imoveis/editar/{id}(id=${imovel.id})}" th:if="${usuarioAutenticacao.estaAutenticado()}"
               class="btn btn-link">Editar</a>
            <a th:href="@{/imoveis/excluir/{id}(id=${imovel.id})}" th:if="${usuarioAutenticacao.estaAutenticado()}"
               class="btn btn-danger">Excluir</a>


            <a class="btn btn-outline-light text-dark rounded-4 disabled" th:if="${imovel.disponivel}"
               th:href="@{/chat}">
                <ion-icon name="chatbubble-outline"></ion-icon>
                Conversar com o vendedor
            </a>
        </div>
        <div class="col-md-6">
            <h1 th:utext="${imovel.nome}"></h1>

            <span th:class="'badge '+${imovel.disponivel ? 'bg-success': 'bg-warning'}"
                  th:utext="${imovel.disponivel? 'Novo': 'Premium'}">Disponível</span>

            <p th:text="${imovel.descricao}"></p>
            <p>
                Área total:
                <span th:utext="${imovel.tamanho}"></span>
                m<sup>2</sup>
            </p>
            <div class="text-xl-start ">
                <p class="icon-link  text-decoration-none">
                    <ion-icon name="car-sport-outline"></ion-icon>
                    <span th:text="${imovel.garagem}"></span>
                </p>
                <p class="icon-link  text-decoration-none">
                    <ion-icon name="trash-bin-outline"></ion-icon>
                    <span th:text="${imovel.quantidadeBanheiros}"></span>
                </p>
                <p class="icon-link  text-decoration-none">
                    <ion-icon name="bed-outline"></ion-icon>
                    <span th:text="${imovel.quantidadeQuartos}"></span>
                </p>

            </div>
            <div class="d-flex justify-content-between">
                <p class="card-text ">Preço de compra,
                    <span class="text-body-emphasis font-weight-bold"
                          th:text="'R'+${#numbers.formatCurrency(imovel.getPrecoCompra())}"></span>.
                </p>
                <p class="card-text ">Preço de aluguel,
                    <span class="text-body-emphasis font-weight-bold"
                          th:text="'R'+${#numbers.formatCurrency(imovel.getPrecoAluguel())}"></span>.
                </p>
            </div>
            <table class="table tab-content">
                <h4 class="card-title">Endereço</h4>
                <tbody>
                <tr>
                    <th scope="row">CEP</th>
                    <td th:text="${imovel.endereco.getCep()}"></td>
                </tr>
                <tr>
                    <th scope="row">Logradouro</th>
                    <td th:text="${imovel.endereco.getLogradouro()}"></td>
                </tr>
                <tr>
                    <th scope="row">Bairro</th>
                    <td th:text="${imovel.endereco.getLogradouro()}"></td>
                </tr>
                <tr>
                    <th scope="row">Complemento</th>
                    <td th:text="${imovel.endereco.getComplemento()}"></td>
                </tr>
                <tr>
                    <th scope="row">Cidade</th>
                    <td th:text="${imovel.endereco.getLocalidade()}"></td>
                </tr>
                <tr>
                    <th scope="row">Estado</th>
                    <td th:text="${imovel.endereco.getUf()}"></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

</div>
<footer th:replace="~{componentes/footer/rodape :: rodape}"></footer>
</body>
<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="/js/bootstrap.min.js"></script>
</html>