<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Página não encontrada</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="d-flex align-items-center justify-content-center vh-100 overflow-y-hidden">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
      <div class="col-md-6">
        <img src="/assets/error-1.jpg" width="330" alt="Error 404"
             class="rounded-4 img-fluid">
      </div>
      <div class=" col-md-6 mt-5">
        <p class="fs-3"> <span class="text-danger">Opps!</span> Não encontramos.</p>
        <p class="lead">
          A página que você está procurando não existe, foi removida ou mudou de endereço.
        </p>
        <a th:href="@{/static}" class="btn btn-primary">Voltar a página inicial</a>
      </div>

    </div>
  </div>


</div>
</div>
</body>
