<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Fazer login</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>
<body>
<nav th:replace="~{componentes/nav/voltar :: voltar}"></nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-2">Entrar</h1>
            <p class="text-break">
                Não possui uma conta?
                <a class="icon-link icon-hover" th:href="@{/cadastro}">
                    Cadastre-se</a
                >
            </p>
        </div>
    </div>
</div>




<form th:action="@{/login}" method="post" class="container">
    <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <input type="text" aria-describedby="emailInput" class="form-control" name="username"
               placeholder="lorem@ipsum.com"/>
    </div>
    <div>
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" name="password" placeholder="Password"/>
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="checkHelp">
            Lembrar de mim
        </label>
        <input type="checkbox" class="form-check-input" name="checkHelp"/>

    </div>
    <input type="submit" class="btn btn-primary" value="Entrar"/>
</form>

<div th:if="${param.error}" role="alert" class="mt-3 container alert alert-danger">
    Email ou senha incorretos, tente novamente!
</div>
<div th:if="${param.logout}" role="alert" class="mt-3 container alert alert-success">
    Você saiu com sucesso, volte em breve!
</div>

</body>
</html>
