<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastrar</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav th:replace="~{componentes/nav/voltar :: voltar}"></nav>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-2">Entrar</h1>
          <p class="text-break">
            Não possui uma conta?
            <a class="icon-link icon-hover" th:href="@{/cadastro}">
              Cadastre-se</a
            >
          </p>
        </div>
      </div>
    </div>

    <form th:replace="~{componentes/form/login :: form-login}"></form>
    <p
      th:if="${loginErro}"
      class="container alert alert-danger mt-3"
      role="alert"
    >
      Email ou senha incorretos, tente novamente!
    </p>
  </body>
</html>
