<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Termos de uso</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
</head>
<body>

<nav th:replace = "~{componentes/nav/cabecalho :: cabecalho}"></nav>
<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div id="primary" class="content-area col-md-8 mx-auto">
                    <div id="content" class="site-content" role="main">


                        <article id="post-108" class="text-wrap post-108 page type-page status-publish hentry">
                            <header class="entry-header">
                                <h1 class="entry-title">Termos de serviço</h1>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p>Abaixo estão nossos Termos de Serviço, que apresentam muitas informações legais, mas
                                    a essência é que nosso
                                    objetivo é sempre cuidar de você, seja como cliente ou como vendedor em nossa
                                    plataforma. Incluímos muitos
                                    desses termos para nos proteger legalmente, mas se você tiver algum problema,
                                    sinta-se sempre à vontade para
                                    nos enviar um e-mail para desapega@lorem.com e faremos o possível para resolvê-lo de
                                    maneira justa e
                                    oportuna.</p>
                                <ol>
                                    <li><strong>Aplicação dos termos</strong>
                                        <ol>
                                            <li>Ao visitar e/ou tomar qualquer ação em Desapega, você confirma que está
                                                de acordo e
                                                vinculado pelos termos descritos abaixo. Esses termos se aplicam ao
                                                site, e-mails ou qualquer
                                                outra comunicação.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Temas</strong>
                                        <ol>
                                            <li>Todos os produtos são 100% digitais e entregues eletronicamente em seu
                                                e-mail.
                                            </li>
                                            <li>O Desapega não é responsável por você não receber seu produto se não
                                                fornecer um e-mail
                                                válido ou por problemas técnicos fora de nosso controle.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Segurança e Pagamentos</strong>
                                        <ol>
                                            <li>Todos os pagamentos são processados de forma segura através do PayPal ou
                                                Stripe. O Desapega não processa pagamentos diretamente através do site.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Reembolsos</strong>
                                        <ol>
                                            <li>Você tem 14 dias para avaliar sua compra. Se sua compra não atender às
                                                expectativas definidas
                                                pelo vendedor ou estiver gravemente com defeito de alguma forma, entre
                                                em contato com o
                                                Desapega e emitiremos um reembolso integral após análise.
                                            </li>
                                            <li>A questão dos reembolsos está totalmente a critério do Desapega.</li>
                                        </ol>
                                    </li>
                                    <li><strong>Suporte</strong>
                                        <ol>
                                            <li>O suporte para uma compra é regido pela licença de uso que você
                                                adquire.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><strong>Propriedade</strong>
                                        <ol>
                                            <li>A propriedade do produto é regida pelas licenças de uso.</li>
                                        </ol>
                                    </li>
                                    <li><strong>Membros e conteúdo</strong>
                                        <ol>
                                            <li>A associação é um benefício para aqueles que seguem nossos termos e
                                                políticas. Pode a
                                                qualquer momento suspender ou encerrar sua conta.
                                            </li>
                                            <li>Podemos visualizar e/ou remover qualquer conteúdo por qualquer motivo a
                                                nosso próprio
                                                critério.
                                            </li>
                                            <li><strong>Propriedade</strong>
                                                <ol>
                                                    <li>A propriedade do produto é governada pelas licenças de uso.</li>
                                                </ol>
                                            </li>
                                            <li><strong>Associação e conteúdo</strong>
                                                <ol>
                                                    <li>A associação é um benefício para aqueles que seguem nossos
                                                        termos e políticas. Podemos
                                                        suspender ou encerrar sua conta a qualquer momento.
                                                    </li>
                                                    <li>Podemos visualizar e/ou remover qualquer conteúdo por qualquer
                                                        motivo a nosso critério.
                                                        Isso geralmente só será exercido para questões que exigem
                                                        resolução imediata, como, mas
                                                        não se limitando a, a postagem de conteúdo não autorizado,
                                                        ofensivo, ilegal ou qualquer
                                                        coisa que viole os direitos de outras pessoas.
                                                    </li>
                                                </ol>
                                            </li>
                                            <li><strong>Responsabilidade</strong>
                                                <ol>
                                                    <li>Você nos indeniza por todas as perdas, custos (incluindo custos
                                                        legais), despesas,
                                                        exigências ou responsabilidades que incorremos decorrentes de,
                                                        ou com,
                                                        quaisquer reivindicações contra nós relacionadas ao seu uso do
                                                        Bootstrap Themes.
                                                    </li>
                                                </ol>
                                            </li>
                                            <li><strong>Solicitação, modificação ou exclusão de seus dados
                                                (LGPD)</strong>
                                                <ol>
                                                    <li>Somos uma pequena operação, mas trabalhamos duro para garantir
                                                        que seus dados permaneçam
                                                        seguros e só coletamos o necessário para fornecer nossos
                                                        serviços. Se você quiser
                                                        solicitar uma exportação de seus dados, uma modificação em
                                                        qualquer dado que tenhamos
                                                        relacionado à sua conta ou exclusão de todos os dados
                                                        permanentemente, envie um e-mail
                                                        para desapega@lorem.com e atenderemos à sua solicitação em tempo
                                                        hábil.
                                                    </li>
                                                </ol>
                                            </li>
                                            <li><strong>Alterações nos termos</strong>
                                                <ol>
                                                    <li>Se alterarmos nossos termos de uso, publicaremos essas
                                                        alterações nesta página.
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>

                            </div><!-- .entry-content -->
                        </article><!-- #post-108 -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="componentes/footer/rodape :: rodape"></footer>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>