<div th:fragment="categoria" class="container-fluid text-center">
  <ul>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/apps-outline.svg"  width="20" class="d-inline-block" />
        Todas categorias
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/business-outline.svg" width="20" class="d-inline-block" />
        Imóveis
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/car-sport-outline.svg"  width="20" class="d-inline-block" />
        Automóveis
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/desktop-outline.svg"  width="20" class="d-inline-block" />

        Eletrônicos
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/home-outline.svg"  width="20" class="d-inline-block" />
        Para sua casa
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/construct-outline.svg"  width="20" class="d-inline-block" />
        Serviços</a
      >
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/tennisball-outline.svg"  width="20" class="d-inline-block" />
        Esportes e lazer
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link text-black no-decoration icon-hover">
        <img src="/assets/shirt-outline.svg"  width="20" class="d-inline-block" />
        Moda e beleza
      </a>
    </li>
  </ul>
</div>
