<div th:fragment="categoria" class="container-fluid">
  <ul class="align-items-center">
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="apps-outline"></ion-icon>
        Todas categorias
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="business-outline"></ion-icon>
        Imóveis
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="car-outline"></ion-icon>
        Automóveis
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="desktop-outline"></ion-icon>
        Eletrônicos
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="home-outline"></ion-icon>
        Para sua casa
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="storefront-outline"></ion-icon>
        Serviços</a
      >
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="basketball-outline"></ion-icon>
        Esportes e lazer
      </a>
    </li>
    <li class="d-inline-block p-3">
      <a href="#" class="icon-link icon-link-hover">
        <ion-icon name="shirt-outline"></ion-icon>
        Moda e beleza
      </a>
    </li>
  </ul>
</div>
