<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <title>Desapega - Compras e vendas</title>
  </head>
  <body>
    <nav th:replace="~{componentes/nav/cabecalho :: cabecalho}"></nav>

    <div class="bg-body-tertiary mt-2 mb-3" id="buscar">
      <div>
        <h1 class="text-center">Desapega</h1>
        <p class="text-center text-wrap">
          Vender e Comprar nunca foi tão fácil! Anuncie Online aqui.
        </p>
      </div>
      <form th:action="@{/anuncios}">
        <div class="input-group mb-3 p-3">
          <input
            type="text"
            class="form-control"
            name="busca"
            placeholder="Comece sua busca por aqui"
            aria-label="Pesquisar na página"
            aria-describedby="pesquisa"
          />
          <span class="input-group-text" id="pesquisa">
            <button type="submit" class="btn btn-toolbar hover text-dark">
              Buscar
            </button>
          </span>
        </div>
      </form>

      <div th:replace="~{componentes/categorias/categorias :: categoria}"></div>
    </div>

    <main class="card overflow-x-hidden mb-5">
      <header class="card-header">
        <h2 class="card-title">Anúncios</h2>
      </header>
      <p class="m-3 card-subtitle">Vejasaa os anúncios mais recentes</p>
      <div class="container">
        <div class="row">
          <h3
            class="text-center"
            th:text="${#lists.size(imoveis) == 0 ? 'Nenhum anúncio encontrado' : 'Imóveis' }"
          >
            Nenhum anúncio encontrado
          </h3>

          <div
            th:fragment="card"
            class="col-md-4 my-2"
            th:each="imovel : ${imoveis}"
          >
            <div class="card">
              <img
                th:src="${imovel.foto == null ? '/assets/not-found.jpg': '/image/' + imovel.foto}"
                th:class="'card-img' + 'card-img-top'"
                height="300"
                th:alt="${imovel.descricao}"
              />
              <div class="card-body">
                <h2 class="card-title" th:utext="${imovel.getNome()}"></h2>
                <span
                  th:class="'badge '+${imovel.disponivel ? 'bg-success': 'bg-danger'}"
                  th:text="${imovel.disponivel? 'Disponível': 'Vendido'}"
                  >Disponível</span
                >
                <p
                  class="card-text text-truncate"
                  th:text="${imovel.descricao}"
                >
                  Carregando...
                </p>
                <p>
                  Publicado,
                  <time
                    th:datetime="${imovel.dataCadastro}"
                    datetime="2023-04-05"
                    class="text-primary font-weight-bold"
                    th:text="${#calendars.format(imovel.dataCadastro,'dd MMMM yyyy')}"
                    >5 de abril de 2023
                  </time>
                </p>

                <div class="btn-group gap-4">
                  <a
                    th:href="@{/imoveis/detalhes/{id}  (id=${imovel.id})}"
                    class="icon-link btn-link text-decoration-none"
                  >
                    <img
                      src="/assets/open-outline.svg"
                      alt="Detalhes"
                      width="20"
                      height="20"
                      class="teste"
                    />
                    Detalhes
                  </a>
                  <a href="#" class="icon-link text-decoration-none">
                    <img
                      src="/assets/star-outline.svg"
                      alt="Favoritar"
                      width="20"
                      height="20"
                      class="fav-hover"
                    />
                    Favoritar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="align-self-center m-3">
        <a class="btn btn-primary" th:href="@{/anuncios}">
          Ver mais anúncios
        </a>
      </div>
    </main>
    <footer th:replace="~{componentes/footer/rodape :: rodape}"></footer>
  </body>

  <script src="/js/bootstrap.min.js"></script>
</html>
