<form th:action="@{/entrar}" th:fragment="form-login" method="post" class="container">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        Não compartilhe seu email com ninguém
      </div>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" name="senha" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="lembrarEmail" />
      <label class="form-check-label" for="checkHelp">
        Lembrar de mim
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>